@page
@model HomeLibraryManager.Pages.Library.BookModel

@{
    ViewData["Title"] = "Book";
}
<div id="bookDetailContainer">
    <div id="left">
        @*icons that arent thumbnails dont accurately reflect book*@
        @if (Model.Book.Thumbnail != null)
        {
            <img src="@Model.Book.Thumbnail" />
        }
        else
        {
            <img src="@Model.Book.SmallThumbnail" />
        }
        <h1>@Model.Book.Title</h1>
    </div>
    <div id="right">
        <div id="googleProperties">
            <span>Authors: @Model.Book.Authors</span>
            <span>Publisher: @Model.Book.Publisher</span>
            <span>Published Date: @Model.Book.PublishedDate</span>
            <span>Page Count: @Model.Book.PageCount</span>
            <span>ISBN10: @Model.Book.ISBN10</span>
            <span>ISBN13: @Model.Book.ISBN13</span>
        </div>
        <form method="post">
            <fieldset>
                <h3>Collector's Fields</h3>
                <input type="hidden" name="BookID" value="@Model.Book.BookId">
                <span><label for="PrintNumber">Print Number</label><input value="@Model.Book.PrintNumber" class="form-control" id="PrintNumber" name="PrintNumber" /></span>
                <span><label for="IsFirstEdition" >First Edition </label><input type="checkbox" class="" id="IsFirstEdition" name="IsFirstEdition" @if(Model.Book.IsFirstEdition != null && (bool)Model.Book.IsFirstEdition){@Html.Raw("checked");} /></span>
                <span><label for="EditionNotes">Edition Notes</label><textarea class="form-control" id="EditionNotes" name="EditionNotes">@Model.Book.EditionNotes</textarea></span>
                <span><input asp-page-handler="Collector" type="submit" value="Save" class="btn btn-success" name="" /></span>
                <span><input asp-page-handler="Delete" type="submit" value="Delete" class="btn btn-danger" name="" /></span>
                <span><a class="btn btn-primary" href="/Reviews/WriteReview?bookID=@Model.Book.BookId">Write Review</a></span>
            </fieldset>
        </form>
    </div>
    <div id="description"">@Html.Raw(Model.Book.Description)</div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
